
# Python cache files
__pycache__/
*.py[cod]

# Conda local package/cache folders
.CondaPkg/

# Local plotting / analysis scratch files
OSPM/Plotting/

# Local project reminders
OSPM-NOTES/local_next_time_note.txt

# Local notes
OSPM-NOTES/

# OSPM generated run products
Data/Galaxy_Profiles/*/default/archive/
